ANTHROPIC_API_KEY=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
HOTEL_DATABASE_URL=postgresql://neondb_owner:npg_frN6GqcsOBi9@ep-noisy-frost-abppfjnj.eu-west-2.aws.neon.tech/neondb?sslmode=require
BASIC_AUTH_USER=otel
BASIC_AUTH_PASS=revenue2026
CHAINLIT_AUTH_SECRET=b283c8cb550a60dc215e01363d2730d13bcd2c2617ffa2db5edb58115a6b895c
PORT=8000